@import "tailwindcss";

body {
  --background: #f4f3f2;
  --surface: #e8e8e8;
  --border-1: #8e8771;
  --border-2: #d2cfc6;
  --text-1: #060504;
  --text-2: #3f3c33;
  --accent: #f4f3f2;
  --primary: #b5179e;
  --secondary: #560bad;
  --positive: #00674b;
  --negative: #C40233;

  background-color: var(--background);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}